!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='site.css')
  body
    div.container-fluid
      div.row-fluid
        div#content.span9
          div.devel
            form(action='/edit/' + url, method='post', target='devel-iframe')
              button Edit
            iframe(name='devel-iframe')
          //- p= url
          div!= content
        div#nav.span3
          if calloutIds.length > 0
            ul.nav.nav-list
              li.nav-header Callouts
              each id in calloutIds
                li(class=id === url ? 'active' : null)
                  a(href=id + '.html')= id
          ul.nav.nav-list
            li.nav-header All Posts
            each id in navIds
              li(class=id === url ? 'active' : null)
                a(href=id + '.html')= id
